{% load static %}

<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet" >

  <!-- Theme CSS -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet" >


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="align-items-center">
  <img src="{% static  '/resources/dist/img/icon2.png' %}" class="img-circle" alt="User Image"/>
      </div>
      <div class="sidebar-heading">전기차 찾아줘 붕붕차차 </div>
      <div class="list-group list-group-flush">
        <a href="/evcharger/mygps" class="list-group-item list-group-item-action bg-light">지도</a>
        <a href="/evcharger/direction" class="list-group-item list-group-item-action bg-light">길찾기</a>
        <a href="/evcharger/station" class="list-group-item list-group-item-action bg-light">검색</a>
        <a href="/evcharger/content_recommendation" class="list-group-item list-group-item-action bg-light">컨텐츠 추천</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">사이드바</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/evcharger/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/evcharger/logout">로그인</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                메뉴
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">댓글</a>
                <a class="dropdown-item" href="#">내충전소</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">내정보</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
<div>
  <h1 class="mt-lg-1" >홈페이지</h1>
</div>
      <div class="align-items-center">
  <img src="{% static  '/resources/dist/img/화면 캡처 2021-02-16 223102.png' %}" width="80%" height="800" class="img-circle" alt="User Image"/>
      </div>

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>


</body>

</html>
