<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>GPS 기반 반경 2Km 이내 전기차 충전소 위치표시</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nery8si7l9"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
<div class = 'search'>
    <button id='evBtn'>충전소 보기</button>
    <div id="distance"></div>
</div>
    <div id="map" style="width:100%;height:600px;"></div>


<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>

$(document).ready(function(){
    $('#evBtn').click(function(){
        var stName = '종묘 공영주차장'
        var distance = '0.057369362071630854'
        $.ajax({
            url : "{% url 'evSearch' %}",
            type : "post",
            data : {"csrfmiddlewaretoken" : '{{csrf_token}}',
						type : stName,
						distance : distance},
            dataType : 'json',
            success : function(data){
                alert(data)
                $.each(data, function(idx, obj,distance){
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(obj.lat, obj.lng),
                        map: map
                    });
            function showMarker(map, marker) {

                if (marker.getMap()) return;
                marker.setMap(map);
            }

            function hideMarker(map, marker) {

                if (!marker.getMap()) return;
                marker.setMap(null);
            }


                })
            }
        })
    })
})

var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(navigator.geolocation),
    zoom: 10,
    minZoom: 10
});




<!--var MARKER_SPRITE_X_OFFSET = 29,-->
<!--    MARKER_SPRITE_Y_OFFSET = 50,-->
<!--    MARKER_SPRITE_POSITION = {-->
<!--        "A0": [0, 0],-->
<!--        "B0": [MARKER_SPRITE_X_OFFSET, 0],-->
<!--        "C0": [MARKER_SPRITE_X_OFFSET*2, 0],-->
<!--        "D0": [MARKER_SPRITE_X_OFFSET*3, 0],-->
<!--        "E0": [MARKER_SPRITE_X_OFFSET*4, 0],-->
<!--        "F0": [MARKER_SPRITE_X_OFFSET*5, 0],-->
<!--        "G0": [MARKER_SPRITE_X_OFFSET*6, 0],-->
<!--        "H0": [MARKER_SPRITE_X_OFFSET*7, 0],-->
<!--        "I0": [MARKER_SPRITE_X_OFFSET*8, 0]-->
<!--        }-->


var infowindow = new naver.maps.InfoWindow();

function onSuccessGeolocation(position) {
    var location = new naver.maps.LatLng(position.coords.latitude,
                                         position.coords.longitude);

    map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    map.setZoom(12); // 지도의 줌 레벨을 변경합니다.

    infowindow.setContent('<div style="padding:20px;">' + '내 위치' + '</div>');

    infowindow.open(map, location);
    console.log('Coordinates: ' + location.toString());
}

function onErrorGeolocation() {
    var center = map.getCenter();

    infowindow.setContent('<div style="padding:20px;">' +
        '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');

    infowindow.open(map, center);
}

$(window).on("load", function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
    } else {
        var center = map.getCenter();
        infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
        infowindow.open(map, center);
    }
});


</script>
</body>
</html>