{% load static %}

<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>길찾기</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet" >

  <!-- Theme CSS -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet" >


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="align-items-center">
  <img src="/static/img/icon2.png" width="100%" class="img-circle" alt="User Image">
      </div>
      <div class="sidebar-heading">전기차 찾아줘 붕붕차차 </div>
      <div class="list-group list-group-flush">
        <a href="/evcharger/mygps" class="list-group-item list-group-item-action bg-light">지도</a>
        <a href="/evcharger/direction" class="list-group-item list-group-item-action bg-light">길찾기</a>
        <a href="/evcharger/station" class="list-group-item list-group-item-action bg-light">검색</a>
        <a href="/evcharger/content_recommendation" class="list-group-item list-group-item-action bg-light">컨텐츠 추천</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">사이드바</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/evcharger/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/evcharger/logout">로그인</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                메뉴
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/evcharger/comment">댓글</a>
                <a class="dropdown-item" href="#">내충전소</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/evcharger/mypage">내정보</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=djtsnlvpvb"></script>

    <style type="text/css">
        div#viewLoading {
        text-align: center;
        padding-top: 70px;
        background: #FFFFF0;
        filter: alpha(opacity=60);
        opacity: alpha*0.6;
        }
    </style>



<div id="viewLoading">
    <img src="{%static 'viewLoading.gif' %}">
</div>


<div class = 'search'>
    <div class = 'search-body'>
        <fieldset>
            <legend>지역입력</legend>
            <label>출발지역 : <input type="text", id = "startKeyword"></label>
            <label>도착지역 : <input type="text", id = "goalKeyword"></label>
            <button id="searchBtn">검색</button>
            <button id="newBtn">초기화</button>
        </fieldset>
    </div>


    <div class = 'filtering'>
        <strong>충전기 종류를 선택하세요 &emsp;
        <label><input type="checkbox" checked>DC차데모</label>
        <label><input type="checkbox" checked>AC완속</label>
        <label><input type="checkbox" checked>DC콤보</label>
        <label><input type="checkbox" checked>AC3상</label>
        <button id="filterBtn">필터링</button>
    </div>

</div>
<div id="map" style="width:100%;height:800px;"></div>

<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(document).ready(function(){
    $('#newBtn').click(function(){
        location.href = './'
    })
    $('#filterBtn').click(function(){
        alert('개발예정입니다');
    })
    $('#viewLoading').hide();

    $(window)
		.ajaxStart(function(){
			$('#viewLoading').show();
		})
		.ajaxStop(function(){
			$('#viewLoading').hide();
		});

    $('#searchBtn').click(function(){
        start = $('#startKeyword').val()
        goal = $('#goalKeyword').val()
        $.ajax({
            url : "{% url 'directionSearch' %}",
            type : "post",
            data : {"csrfmiddlewaretoken" : '{{csrf_token}}',
                    start : start,
                    goal : goal},
            dataType : 'json',
            success : function(data){

                var markers = [],
                    infoWindows = [];

                for(var i in data){
                    if (data[i].congestion<0.5){
                            var icon = "{% static '/img/green-dot.png' %}"
                        } else if (data[i].congestion<1){
                            var icon = "{% static '/img/yellow-dot.png' %}"
                        } else {
                            var icon = "{% static '/img/red-dot.png' %}"
                        }
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(data[i].lat, data[i].lng),
                        map: map,
                        icon : icon
                        });



                    var contentString = [
                        '<div class="iw_inner">',
                        '    <h4>충전소명 : '+data[i].statnm+'</h4>',
                        '    <p><a href="{% url 'stationDetail' %}">자세히보기</a></p>',
                        '    <h5>주소 : '+data[i].addr+'</h5>',
                        '    <p>이용가능시간 : '+data[i].useTime+' <br/>',
                        '    연락처 : '+data[i].busicall+'<br/>',
                        '    충전기 : '+data[i].info+'<br/> ',
                        '    혼잡도 : '+data[i].congestion,
                        '    </p>',
                        '</div>'
                        ].join('');

                    var infoWindow = new naver.maps.InfoWindow({
                        content: contentString,
                        backgroundColor : "#eee",
                        borderColor : "#151515",
                        borderWidth: 4,
                        anchorColor: "#eee",


                        });

                    markers.push(marker);
                    infoWindows.push(infoWindow);


                };

                naver.maps.Event.addListener(map,'idle',function() {
                    updateMarkers(map,markers);
                });



                function updateMarkers(map,markers) {

                    var marker, position;

                    for (var i = 0; i < markers.length; i++) {
                        marker = markers[i]
                        position = marker.getPosition();

                        showMarker(map,marker);
                    }
                }





                function showMarker(map,marker) {
                    if (marker.setMap()) return;
                    marker.setMap(map);
                }

                function getClickHandler(seq) {
                    return function(e) {
                        var marker = markers[seq],
                            infoWindow = infoWindows[seq];

                        if (infoWindow.getMap()) {
                            infoWindow.close();
                        } else {
                            infoWindow.open(map, marker);
                        }
                    }
                }

                for (var i = 0, ii = markers.length; i<ii; i++) {
                    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
                }
            }
        });
    })
})


var map = new naver.maps.Map("map", {
        zoom: 10,
        center: new naver.maps.LatLng(37.413294, 127.1460516),
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_LEFT,
            style: naver.maps.ZoomControlStyle.SMALL
        }
    }),
    markers = [];





</script>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>


</body>

</html>
